body{
    font-family: arial, verdana, sans-serif;
}

.title{
    text-align: center;
    margin-left: 450px;
    line-height: 1.5;
    font-size: 20px;
}

.instructor{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    height: 20px;
}